:root {
  --green-color: #19a01c;
  --red-color: #e2202d;
  --netrual-color: #5e5e5e;
  --hover-color: #ff9000;
  --baseTextSize: 12px;
}

body {
  width: 100%;
}

h1 {
  font-size: 32px;
  margin-left: 8px;
}

.cloud {
  text-align: justify;
  display: inline-block;
}

/* Cloud words */
.topic-word {
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}

  .topic-word:hover {
    color: var(--hover-color) !important;
  }

  .topic-word.positive {
    color: var(--green-color);
  }

  .topic-word.negative {
    color: var(--red-color);
  }

  .topic-word.neutral {
    color: var(--netrual-color);
  }

  .topic-word.selected {
    text-decoration: underline;
  }

  /* Text sizes */
  .topic-word.size-0 {
    font-size: calc(var(--baseTextSize) * 1);
  }
  .topic-word.size-1 {
    font-size: calc(var(--baseTextSize) * 1.5);
  }
  .topic-word.size-2 {
    font-size: calc(var(--baseTextSize) * 2);
  }
  .topic-word.size-3 {
    font-size: calc(var(--baseTextSize) * 2.5);
  }
  .topic-word.size-4 {
    font-size: calc(var(--baseTextSize) * 3);
  }
  .topic-word.size-5 {
    font-size: calc(var(--baseTextSize) * 3.5);
  }

/* Side Panel */
.side-panel {
  width: 90%;
  display: inline-block;
  /* background-color: #a5a5a5; */
  border-radius: 4px;
}

  .side-panel .heading {
    font-weight: bold;
  }

  .side-panel .heading.topic-name {
    height: 40px;
  }

  .side-panel .heading > span {
    font-weight: normal;
    margin-left: 8px;
  }

  .side-panel .positive-count {
    color: var(--green-color);
  }

  .side-panel .negative-count {
    color: var(--red-color);
  }
