body {
  width: 100%;
}

h1 {
  margin-left: 8px;
}

.cloud {
  text-align: justify;
  display: inline-block;
}

.topic-word {
  display: inline-block;
  margin: 8px;
}

.side-panel {
  width: 90%;
  display: inline-block;
  /* background-color: #a5a5a5; */
  border-radius: 4px;
}

.side-panel .heading {
  font-weight: bold;
}

.side-panel .heading > span {
  font-weight: normal;
  margin-left: 8px;
}

.side-panel .positive-count {
  color: #19a01c;
}

.side-panel .negative-count {
  color: #e2202d;
}
