:root {
  --green-color: #19a01c;
  --red-color: #e2202d;
}

body {
  width: 100%;
}

h1 {
  margin-left: 8px;
}

.cloud {
  text-align: justify;
  display: inline-block;
}

/* Cloud words */
.topic-word {
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}

.topic-word:hover {
  font-weight: bold;
}

.topic-word.positive {
  color: var(--green-color);
}

.topic-word.negative {
  color: var(--red-color);
}

/* Side Panel */
.side-panel {
  width: 90%;
  display: inline-block;
  /* background-color: #a5a5a5; */
  border-radius: 4px;
}

.side-panel .heading {
  font-weight: bold;
}

.side-panel .heading.topic-name {
  height: 40px;
}

.side-panel .heading > span {
  font-weight: normal;
  margin-left: 8px;
}

.side-panel .positive-count {
  color: var(--green-color);
}

.side-panel .negative-count {
  color: var(--red-color);
}
